
/src/
/target/
/FileTransferServer.iml
/.idea/
/common/common.iml
/client/client.iml
/server/server.iml
/client/target/
/common/target/
/server/target/
client/src/main/resources/
client/src/test/
common/src/main/resources/
common/src/test/
server/src/main/resources/
server/src/test/
